<%= render 'book_error', book: @book %>
<%= render 'users/user_info', user: @user %>
<%= render 'users/user_edit_link', user: @user %>
<%= render 'new_book', book: @book %>

</div>

<div class="col-md-8 offset-md-1">
  <h2 class="mt-3">Books</h2>
  <table class="table">
    <thead>
      <tr>
        <th class="col-1"></th>
        <th class="col-4">本のタイトル</th>
        <th class="col-6">感想</th>
      </tr>
    </thead>
    <tbody>
    <% @books.each do |book| %>
      <tr>
        <th>
          <%= link_to user_path(book.user.id) do %>
            <%= image_tag book.user.get_profile_image(80,80) %>
          <% end %>
        </th>
        <th><%= link_to book.title, book_path(book.id) %></th>
        <th><%= book.body %></th>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>